.mod-tips-s1{width:320px;position:relative}.mod-tips-bg{width:310px;padding:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:transparent;background-color:rgba(0,0,0,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);zoom:1}:root .mod-tips-bg{filter:none}.mod-tips-s1 .mod-tips-content{padding:5px
10px;border:1px
solid #B0B0B0;background-color:#FFF}.mod-tips-s1 .mod-tips-content:before,.mod-tips-content:after{content:'';display:table}.mod-tips-s1 .mod-tips-content:after{clear:both}.mod-tips-s1 .mod-tips-content{zoom:1}.mod-tips-s1 .mod-tips-content
.pic{float:left;width:72px;height:72px;padding:4px
0;margin:0
10px 0 0;overflow:hidden}.mod-tips-s1 .mod-tips-content
img{width:70px;height:70px;border:1px
solid #BFBFBF}.mod-tips-s1 .mod-tips-content
p{text-align:left;line-height:20px;color:#333;margin:0;padding:0}.mod-tips-s1
i.arrow{display:block;width:17px;height:9px;overflow:hidden;background:url(/lego/1.0.0/img/bgs_arrow_v3.png) no-repeat 0 0;position:absolute;z-index:10000;zoom:1}.mod-tips-s1
i.t{background-position:0 0;left:20px;top:-3px}.mod-tips-s1
i.r{width:9px;height:17px;background-position:-8px -9px;top:20px;right:-3px}.mod-tips-s1
i.b{background-position:0 -26px;left:20px;bottom:-3px}.mod-tips-s1
i.l{width:9px;height:17px;background-position:0 -9px;left:-3px;top:20px}.mod-tips-s2{width:320px;position:relative}.mod-tips-bg{width:310px;padding:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background-color:transparent;background-color:rgba(0,0,0,.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);zoom:1}:root .mod-tips-bg{filter:none}.mod-tips-s2 .mod-tips-content{padding:10px
20px 10px 55px;border:1px
solid #B0B0B0;background-color:#FFF}.mod-tips-s2 .mod-tips-content:before,.mod-tips-content:after{content:'';display:table}.mod-tips-s2 .mod-tips-content:after{clear:both}.mod-tips-s2 .mod-tips-content{zoom:1}.mod-tips-s2 .mod-tips-content
.pic{float:left;width:72px;height:72px;padding:4px
0;margin:0
10px 0 0;overflow:hidden}.mod-tips-s2 .mod-tips-content
img{width:70px;height:70px;border:1px
solid #BFBFBF}.mod-tips-s2 .mod-tips-content
p{text-align:left;line-height:20px;color:#333;margin:0;padding:0}.mod-tips-s2
i.arrow{display:block;width:17px;height:9px;overflow:hidden;background:url(/lego/1.0.0/img/bgs_arrow_v3.png) no-repeat 0 0;position:absolute;z-index:10000;zoom:1}.mod-tips-s2
i.t{background-position:0 0;left:20px;top:-3px}.mod-tips-s2
i.r{width:9px;height:17px;background-position:-8px -9px;top:20px;right:-3px}.mod-tips-s2
i.b{background-position:0 -26px;left:20px;bottom:-3px}.mod-tips-s2
i.l{width:9px;height:17px;background-position:0 -9px;left:-3px;top:20px}.mod-tips-s2 .mod-tips-act{padding:10px
0 0 0;text-align:right;margin-right:-10px}.mod-tips-s2 .mod-tips-act .i-see{color:#06F}.mod-tips-s2 .mod-tips-act .btn-close{display:block;overflow:hidden;width:16px;height:16px;text-indent:999px;background:url(/lego/1.0.0/img/bgs_msg_v3.png) no-repeat -16px 0;position:absolute;top:9px;right:8px}.mod-tips-s3{position:relative;width:310px}.mod-tips-s3 .mod-tips-content{padding:5px
20px 5px 10px;border:1px
solid #E1C523;background-color:#FFF9D7}.mod-tips-s3
i.arrow{display:block;width:17px;height:9px;overflow:hidden;background:url(/lego/1.0.0/img/bgs_arrow_v3.png) no-repeat 0 0;position:absolute;z-index:10000;zoom:1}.mod-tips-s3
i.t{background-position:-17px 0;left:20px;top:-8px}.mod-tips-s3
i.r{width:9px;height:17px;background-position:-25px -9px;top:20px;right:-8px}.mod-tips-s3
i.b{background-position:-17px -26px;left:20px;bottom:-8px}.mod-tips-s3
i.l{width:9px;height:17px;background-position:-17px -9px;left:-8px;top:20px}.mod-tips-s3 .btn-close{cursor:pointer;display:block;overflow:hidden;width:16px;height:16px;text-indent:-999px;background:url(/lego/1.0.0/img/bgs_msg_v3.png) no-repeat -16px 0;position:absolute;top:4px;right:2px}