@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0; padding:0;vertical-align:middle;}
table{border-collapse:collapse; border-spacing:0;}
ul{list-style:none;}
fieldset,img {border:0;}
a{text-decoration:none; outline:none; color:#0099CB;}
a:hover{text-decoration:none;}
em{font-style:normal;}
/*typography*/
body, button, input, select, textarea {font:12px/1.5 "microsoft yahei", Regular, Helvetica, Arial, "宋体", sans-serif;}
input{ outline:none;}
h1 {font-size:18px;}
h2 {font-size:16px;}
h3 {font-size:14px;}
h4, h5, h6 { font-size:100%; }
code, kbd, pre, samp, tt{font-family:"Courier New", Courier, monospace;}

/* 清浮动 */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }

/*float*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

/*margin padding*/
.pb20 {padding-bottom: 20px;}
.mt40 {margin-top: 40px;}
.mt20 {margin-top: 20px;}

/* 按钮 */
.btn_blue_v3 { vertical-align: middle; display: inline-block; background:url(../images/secure_bg.gif) no-repeat scroll -634px -27px transparent; padding-left: 3px; cursor: pointer; _cursor: hand; }
.btn_blue_v3 span { font-size: 12px; display: inline-block; background:url(../images/secure_bg.gif) no-repeat scroll right top transparent; padding: 0px 10px 0px 7px; line-height: 27px; color: white;  }
.btn_blue_v3_disabled { background-position: -634px -339px; }
.btn_blue_v3_disabled span { background-position: right -312px; }

.btn_blue_v4 { vertical-align: middle; display: inline-block;text-align: center; background:url(../images/secure_bg.gif) no-repeat scroll 0px -391px transparent;cursor: pointer; _cursor: hand; width:164px; height:46px; line-height: 46px; color: white; font-size:14px; }

.btn_blue_v5 { vertical-align: middle;height:30px; line-height:30px;text-align: center; color:#fff; display: inline-block; width:102px; background:url(../images/secure_bg.gif) no-repeat scroll 0px -532px transparent; padding-left: 3px; cursor: pointer; _cursor: hand; }
.btn_blue_v5_disabled { background-position: 0px -573px; }

/* input */
.text_input_v3 { display: inline-block; height: 29px; overflow-y: hidden; background:url(../images/secure_bg.gif) no-repeat scroll -653px -268px transparent; padding-left: 10px; _font-size: 0px; vertical-align: middle; }
.text_input_v3 input { font-family: "microsoft yahei"; outline: none; vertical-align: middle; width: 158px; font-size: 12px; padding: 0px; border-width: 0px; height: 25px; color: #3e3e3e; padding-top: 3px\9; height: 22px\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.text_input_v3 input { padding-top: 2px; height: 23px; } /* IE10。。。*/
}

.text_input_v3 .space { vertical-align: middle; display: inline-block; width: 10px; height: 29px; background:url(../images/secure_bg.gif) no-repeat scroll right -268px transparent; font-size: 0px; _margin-top: -1px; _height: 28px;}
.text_input_v3 input.default_text { color: #999999; }

/* 颜色定义 */
.red { color: red; }

/*安全中心共用部分 go*/
.phd-SecCenter{ height:143px; background:url(../images/head_repeatX.gif) repeat-x; width:100%; }
.phd-SecCenter .head{ width:1004px; margin:0 auto; overflow:hidden;zoom:1; padding-top:13px; position: relative; }
.phd-SecCenter .head h1{ float:left;}
/*.phd-SecCenter .head .logo{ background:url(../images/secCenter_logo.png) no-repeat; width:206px; height:70px; display:inline-block;}*/
.phd-SecCenter .head .logo { display: inline-block; width: 209px; height: 50px;  margin-top: 4px; background-image: url(../images/logo.png); }
.pbd-SecCenter{ width:1004px; margin: -45px auto 0; min-height:570px;}
.pbd-SecCenter .part-right{ float:left; width:820px; padding-top:27px; overflow:hidden;zoom:1;}
.phd-SecCenter .signout { position: absolute; right: 5px; top: 20px; color: #424242; }
.phd-SecCenter .signout a { margin-left: 15px; }
/*左导航 go*/
.pbd-SecCenter .part-left{ float:left; width:147px; margin-right:35px;}
.mod-nav .mhd{ background:url(../images/left_nav_icons.png) 0 -11px no-repeat; height:35px; overflow:hidden;_background-position: 0 -10px;}
.mod-nav .mbd{ background:url(../images/left_nav_repeatY.gif) repeat-y; overflow:hidden;zoom:1;}
.mod-nav .mbd li{ height:48px; overflow:hidden;zoom:1;}
.mod-nav .mbd li a{ background:url(../images/left_nav_icons.png) 0 -285px no-repeat; height:48px; display:block; line-height:32px; padding-left:45px; font-size:14px; color:#5d5d5d; height:40px;}
.mod-nav .mbd li a.on{ background-position: 0 -66px; line-height:39px; color:#fff; height:48px;}
.mod-nav .mft{ background:url(../images/left_nav_icons.png) 0 -164px no-repeat; height:130px;}
/*左导航 end*/
.pft{ background-color:#fafafa; padding: 12px 0 25px;}
.pft .footer{ width:1004px; overflow:hidden; margin: 0 auto;zoom:1;}
.pft .footer p{ text-align:center; line-height:24px; color:#908f8f;}
.pft .footer p a{color:#908f8f;}
/*安全中心共用部分 end*/

.m_dialog_alert { min-width: 358px; _width: 358px; padding-top: 30px; }
.m_dialog_alert .b_text { margin-bottom: 20px; font-size: 18px; text-align: center; }
.m_dialog_alert .s_text { font-size: 14px; padding: 5px 20px; }
.m_dialog_alert .s_text_center { text-align: center; }
.m_dialog_alert .opra { margin-top: 40px; margin-bottom: 30px; }

.m_dialog_confirm .opra .E_OK { margin-right: 20px; }
.m_dialog_confirm .opra .btn_blue_v3 span { padding: 0px 20px 0px 17px }

.m_helpTip { position: absolute; color: black; padding: 5px 10px 5px 5px; _padding: 8px 10px 3px 5px; width: 800px; position: fixed; _position: absolute; background-color: #fffbe2; _top: expression(eval(Math.min(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-5,document.body.offsetHeight-this.offsetHeight-90))); line-height: 22px; }
/*.m_helpTip { position: absolute; color: black; border: solid 1px #ecd64a; padding: 5px 10px 5px 20px; _padding: 8px 10px 3px 20px; width: 800px; position: fixed; _position: absolute; background-color: #fffbe2; _top: expression(eval(Math.min(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-5,document.body.offsetHeight-this.offsetHeight-90))); line-height: 22px; }*/
.m_helpTip .icon_q { background: transparent url("../images/secure_bg.gif") no-repeat scroll -202px top; display: inline-block; height: 22px; vertical-align: middle; width: 22px; }
.m_helpTip strong { font-size: 14px; margin-left: 3px; display: inline-block; height: 22px; line-height: 22px; vertical-align: middle; }
/*.m_helpTip a.helpLink { color: #908f8f; color: #444444; margin-left: 20px; font-size: 13px; display: inline-block; height: 22px; line-height: 22px; vertical-align: middle; }*/
.m_helpTip a.helpLink { color: #908f8f; color: #0099CB; margin-left: 20px; font-size: 13px; display: inline-block; height: 22px; line-height: 22px; vertical-align: middle; }
.m_helpTip a.more { float: right; margin: 2px 10px 0px 0px; *margin: -20px 0px 0px 0px; display: inline-block; height: 22px; line-height: 22px; vertical-align: middle; }


